<div class="individual_comment">
  <span class="user_image">
    <img src=<%=current_user.profile_pic_path() %>>
  </span>
  <div class="right">
    <span class="user_email">
      <%= comment.user.full_name %>
    </span>
    <span class="content">
      <%= comment.content %>
    </span>
  </div>
</div>
