<% @friends.each do |friend| %>
<div class="user_info" id="<%= friend.id %>">
  <%= render 'user', user: friend%>
  <span class="actions">
    <%= button_to "Unfriend", url_for(action: 'unFriend', controller: 'user', friend_id: friend.id), method: :post %>
</span>
  </div>
<% end %>
