<section id="feed">
  <%= render 'posts/postform', post: @post, user_name: current_user.first_name %>
  <div id="posts">
    <% @feed.each do |post| %>
    <%= render 'feedpost', post: post %>
    <% end %>
  </div>
</section>
