<% @requests.each do |request| %>
<div>
  <%= User.find(request.sender_id).email %>
  <%= link_to "Accept", url_for(action: "acceptRequest", controller: "user", friend2_id: request.sender_id), method: :post %>
</div>
<% end %>
<%= link_to "back", url_for(action: 'index', controller: 'home') %>
