<div id="requests">
<% @requests.each do |request| %>
<div class="user_info" id="<%= request.sender.id %>">
  <%= render 'user', user: request.sender %>
  <span class="actions">
  <%= button_to "Accept", url_for(action: "acceptRequest", controller: "user", friend2_id: request.sender_id), method: :post %>
  <%= button_to "Decline", url_for(action: "declineRequest", controller: "user", friend2_id: request.sender_id), method: :post %>
</span>
  </div>
<% end %>
</div>
