<div id="profile_page">
  <div id="user_header">
    <h1><%=@user.full_name%></h1>
    <div id="user_image">
    <img src=<%=@user.profile_pic_path %>>
  </div>
  </div>
  <div id="rest_user_page">
    <section id="left">
      Section left goes here
    </section>
    <section id="right">
    <% @user.posts.each do |post|%>
    <%= render 'home/feedpost', post: post%>
    <% end %>
  </section>
  </div>
</div>
