/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	padding: 0;
	margin: 0;
}

body{
  width: 99vw;
  margin: 0;
  background-color:#fffde5;
	section{
		padding-top: 70px;
	}
    header#panel{
      position: fixed;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff25e;
			section#user_pannel{
				margin-left: 40%;
				display: flex;
				flex-direction: row;
				padding: 0;
				.profile_picture{
					margin-right: 5px;
					display: flex;
					img{
						height: 20px;
						width: 20px;
						border: 1px solid black;
						border-radius: 10px;
					}
				}
				#user_email{
					font-size: 15px;
					a{
						text-decoration: none;
					}
					a:hover{
						color: black;
					}
	      }
			}
      actions{
				a{
					text-decoration: none;
				}
				a:hover{
					color: black;
				}
        width: 15%;
        display: flex;
        justify-content: space-around;
        margin-right: 10%;
      }
			a:hover{
				background-color: transparent;
			}
			img#logo{
				padding-top: 5px;
				height: 30px;
				width: 30px;
				padding-left: 40px;
			}
  }
}
