/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
	padding: 0;
	margin: 0;
}

div#devise_sign_in {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(#FFFFFF,#D3D8E8);
	header#devise_sign_in {
		color: white;
		display: flex;
		align-items: center;
		justify-content: space-around;
		// justify-content: flex-end;
		height: 90px;
		background: linear-gradient(#4D68A2, #3B5998);

		div#facebook_logo {
			position: relative;
			top: 8px;
			left: 30px;
			font-size: 40px;
			font-weight: 900;
		}

		div#devise_sign_in_form {
			div.field {
				margin-right: 20px;

				input#user_email, input#user_password {
					font-size: 13px;
					height: 13px;
					margin-top: 2px;
					padding: 5px;
					width: 150px;
					border-radius: 0px;
					border: 1px solid #1D2A5B;
				}

			}

			div.actions {
				position: relative;
				top: 20px;
				input{
					margin: 0;
					color: white;
					background-color: #4267B2;
					width: 48px;
					border: 1px solid #29487D;
					height: 24px;
				}
			}
			display: flex;
		}
		// background-color: white;
		// box-shadow: 0 0 10px grey;
	}
	div#login_content{
		padding: 40px;
		display: flex;
		justify-content: space-around;
		section#left{
			position: relative;
			left: 70px;
			div#login_text{
				line-height: 30px;
				color: #0E385F;
				font-size: 20px;
				font-weight: bold;
			}
			width:500px;
		}
		section#right{
			position: relative;
			right:100px;
			div#new_form_heading{
				font-size: 40px;
				font-weight: bolder;
				margin-bottom: 20px;
			}
			div#new_form_heading_description{
				font-size: 20px;
				margin-bottom: 20px;
			}
			div#sign_up_form{
				div#signup_form_name{
					display: flex;
					justify-content: space-between;
				}
				label{
					font-size: 18px;
				}
				input{
					font-size: 20px;
					margin-bottom: 10px;
					height: 30px;
					width: 383px;
				}
				input#user_first_name {
					width: 180px;
				}
				input#user_last_name{
					width: 180px;
				}
				div#date_select{
					margin-top: 10px;
				}
				div.actions{
					margin-top: 20px;
					input{
						background-color: #5B9047;
						color: white;
						width: 201px;
						height: 40px;
						border: 1px solid #3B6E22;
						border-radius: 5px;
					}

				}
			}
		}
	}
}

body {
	width: 99vw;
	margin: 0;
	background-color: #E9EBEE;

	// section {
	// 	padding-top: 70px;
	// }
	div.ui-helper-hidden-accessible{
		display: none;
	}
	ul.ui-menu{
		li{
			margin-top: 2px;
			// background-color: yellow;
			font-weight: bolder;
			padding: 10px;
		}
		li:hover{
			background-color: #ecf0f7;
		}
		border: 1px solid #C6C8CB;
		cursor: pointer;
		list-style: none;
		background-color: white;
		width: 10px;
	}
	header#panel {
		font-weight: bolder;
		position: fixed;
		top: 0;
		width: 100%;
		height: 42px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #3B5998;
		form{
			width: 373.85px;
			input#full_name{
				position: relative;
				right: 25%;
				display: block;
				width: inherit;
				border: 1px solid grey;
				border-radius: 0px;
				padding: 4px;
			}
		}

		section#user_pannel {
			// margin-left: 40%;
			// position: relative;
			// left: 15%;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			padding: 0;

			.profile_picture {
				margin-right: 5px;
				display: flex;

				img {
					height: 20px;
					width: 20px;


				}
			}

			#user_name {
				font-size: 15px;

				a {
					padding: 5px;
					color: white;
					text-decoration: none;
				}

				a:hover {
					background-color: #133a8c;
				}
			}
		}

		actions {
			a {
				padding: 5px;
				color: white;
				text-decoration: none;
			}

			a:hover {
				background-color: #133a8c;
			}
			width: 15%;
			display: flex;
			justify-content: space-around;
			position: relative;
			right: 15%;
		}

		a:hover {
			background-color: transparent;
		}

		img#logo {
			position: relative;
			height: 24px;
			width: 24px;
			left: 150px;
		}
	}
}

i {
	cursor: pointer;
}
