// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
  word-wrap: break-word;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  div.field{
    textarea#post_content{
      width: 715px;
      height: 110px;
      resize: none;
      padding: 10px;
    }
  }
div#posts{
font-size: 20px;
display: flex;
flex-direction: column;
align-items: center;
div.post{
  header{
    section.left{
      width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
      align-items: center;
      div.profile_picture{
        img{
          height: 40px;
          width: 40px;
          border-radius: 20px;
        }
      }
      div.user_email{
        font-weight: bold;
        font-size: 15px;
      }
    }
    section.right{
      .time{
        font-size: 10px;
      }
      padding: 0;
    }

    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 40px;
  }
  footer.comments{
    div.field{
      textarea#comment_content{
        resize: none;
        width: 100%;
      }
    }
    div.post_comments{
      div.individual_comment{
        span.user_image{
          img{
            height: 20px;
            width: 20px;
            border-radius: 10px;
          }
        }
      }
    }
    background-color: #f7f7f7;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid #DFE0E4;
  }
  display: block;
  margin-top: 50px;
  background-color: white;
  width: 500px;
  padding: 10px;
  border: 1px solid #DFE0E4;
  border-radius: 2px;
}
}
}

div#profile{
  img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 1px solid black;
  }
}
