// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  word-wrap: break-word;
}

body {

  padding-top: 70px;

  section#feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    div.field {
      img{
        background-color: white;
        height: 66px;
        width: 66px;
        border: 1px solid #BBB7B3;
      }
      textarea#post_content {
        width: 426px;
        height: 49px;
        resize: none;
        padding: 10px;
        font-family: inherit;
      }

    }
    div#posts {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;

      div.post {
        header {
          section.left {
            width: 40%;
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
            padding: 0;
            align-items: center;

            div.profile_picture {
              img {
                height: 40px;
                width: 40px;

                margin-right: 10px;
                border: 1px solid #DFE0E4;
              }
            }

            div.user_email {
              font-weight: bold;
              font-size: 15px;
            }
          }

          section.right {
            .time {
              font-size: 10px;
            }
            padding: 0;
          }
          padding: 0;
          display: flex;
          justify-content: space-between;
          background-color: white;
          margin-bottom: 40px;
        }

        footer {
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          font-size: 10px;

          div.actions {
            width: 100%;
          }

          div.comments_info {
            display: flex;
            justify-content: flex-end;
            width: 90px;
          }
        }

        footer.comments {
          display: none;

          div.field {
            textarea#comment_content {
              resize: none;
              width: 100%;
            }
          }
          background-color: #f7f7f7;
          border: 1px solid #DFE0E4;
        }
        display: block;
        margin-top: 50px;
        background-color: white;
        width: 500px;
        padding: 10px;
        border: 1px solid #DFE0E4;
        border-radius: 2px;
      }
    }
  }
}

div#profile {
  img {
    height: 200px;
    width: 200px;
    border: 1px solid black;
  }
}

div.comments_info {
  cursor: pointer;
}

div#friends{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1000px;
}
div.user_info {
  margin-bottom: 50px;
  border: 1px solid #DFE0E4;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 450px;
  background-color: white;
  height: 120px;

  span.user_details {
    height: auto;
    display: flex;

    img {
      border: 1px solid #DFE0E4;
      height: 120px;
      width: 120px;
      margin-right: 10px;
    }

    span.user_name {
      font-size: 20px;
    }
  }

  form.button_to {
    input {
      cursor: pointer;
    }
  }
}

div#users{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

div#requests{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  span.actions{
    display: flex;
    justify-content: space-between;
    width: 130px;
    display: flex;
  }
}
